<div class="gallery-wrapper">
    <a href="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test1.jpg') }}&w=1300">
        <img src="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test1.jpg') }}&w=150&h=150&f=2"
             alt=""
             class="img-responsive lazy"
             data-original="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test1.jpg') }}&w=150&h=150"
             width="150"
             height="150"
        >
    </a>
    <a href="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test2.jpg') }}&w=1300">
        <img src="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test2.jpg') }}&w=150&h=150&f=2"
             alt=""
             class="img-responsive lazy"
             data-original="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test2.jpg') }}&w=150&h=150&f=2"
             width="150"
             height="150"
        >
    </a>
    <a href="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test4.jpg') }}&w=1300">
        <img src="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test4.jpg') }}&w=150&h=150&f=2"
             alt=""
             class="img-responsive lazy"
             data-original="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test4.jpg') }}&w=150&h=150&f=2"
             width="150"
             height="150"
        >
    </a>
    <a href="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test5.jpg') }}&w=1300">
        <img src="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test5.jpg') }}&w=150&h=150&f=2"
             alt=""
             class="img-responsive lazy"
             data-original="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test5.jpg') }}&w=150&h=150&f=2"
             width="150"
             height="150"
        >
    </a>
    <a href="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test6.jpg') }}&w=1300">
        <img src="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test6.jpg') }}&w=150&h=150&f=2"
             alt=""
             class="img-responsive lazy"
             data-original="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test6.jpg') }}&w=150&h=150&f=2"
             width="150"
             height="150"
        >
    </a>
    <a href="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test7.jpg') }}&w=1300">
        <img src="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test7.jpg') }}&w=150&h=150&f=2"
             alt=""
             class="img-responsive lazy"
             data-original="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test7.jpg') }}&w=150&h=150&f=2"
             width="150"
             height="150"
        >
    </a>
    <a href="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test8.jpg') }}&w=1300">
        <img src="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test8.jpg') }}&w=150&h=150&f=2"
             alt=""
             class="img-responsive lazy"
             data-original="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test8.jpg') }}&w=150&h=150&f=2"
             width="150"
             height="150"
        >
    </a>
    <a href="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test9.jpg') }}&w=1300">
        <img src="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test9.jpg') }}&w=150&h=150&f=2"
             alt=""
             class="img-responsive lazy"
             data-original="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test9.jpg') }}&w=150&h=150&f=2"
             width="150"
             height="150"
        >
    </a>
    <a href="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test10.jpg') }}&w=1300">
        <img src="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test10.jpg') }}&w=150&h=150&f=2"
             alt=""
             class="img-responsive lazy"
             data-original="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test10.jpg') }}&w=150&h=150&f=2"
             width="150"
             height="150"
        >
    </a>
    <a href="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test11.jpg') }}&w=1300">
        <img src="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test11.jpg') }}&w=150&h=150&f=2"
             alt=""
             class="img-responsive lazy"
             data-original="{{ asset('thumb.php') }}?src={{ asset('upload/cms_static_page/files/test/test11.jpg') }}&w=150&h=150&f=2"
             width="150"
             height="150"
        >
    </a>
</div>
